.img-click
{
    width: 20rem;
    height: 20rem;
    float:  left;
    padding: 5rem;
}

.notvisible {
    visibility: hidden;
}

body{
    background: url("../images/backendImage.jpg");
}


div{
    border: transparent;
    float: left;
}
.anim-button {
    float: left;
    border-radius: 20px;
    margin: auto;
}

.anim-card {
    float: left;
    position: absolute;
    left: 20rem;
    margin-top: 0.75rem;
}
#animalButtonDiv {
    float: left;
}
#search-animal {
    float: left;
}
.img {
    float: left;
}

#input-animal {
    float: right;
}


#add-animal-div {
    float: right;
    
}